<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/cover.css">
        <title>Scan It and Collect It</title>
        <style>
            body {
                background-image: url("/static/img/Lightning_Angel_Wallpaper_be8wr.jpg");
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
            }

            div.inner.cover img {
                width: 150px;
            }
        </style>
    </head>
    <body>


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
              <h1 class="cover-heading">MTG SQRL</h1>
            <p class="lead">
            <a href="/scan" class="btn btn-lg btn-default">Scan It</a>
            <a href="/search" class="btn btn-lg btn-default">Search It</a>
            <a href="/update" class="btn btn-lg btn-default">Update It</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
                <p>Copyright bizmills 2014. All rights reserved.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
    </body>
</html>
