{% extends 'base.html' %}
{% block body %}
<html>
  <head>
  </head>
  <body>
  	<style>
            body {
                background-image: url("/static/img/plain-1395268525n8gk4.jpg");
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
            }

            div.inner.cover img {
                width: 150px;
            }
        </style>
	<form action="{{url_for("search_collection")}}" method="POST">
    	<h2 class="form-search-heading">Search Your Collection</h2>
        <input type="text" name = "query" class="form-control" placeholder="card name" autofocus />
        <p><div><label for="Set">Set</label>
            <select name="Set">
            <option value="none" selected>None</option>
            <option value="JOU">Journey Into Nyx</option>
            <option value="M15">M15</option>
            </select></div></p>
        <p><div><label for="Rarity">Rarity</label>
            <select name="Rarity">
             <option value="none" selected>None</option>
            <option value="Common">Common</option>
            <option value="Uncommon">Uncommon</option>
            <option value="Rare">Rare</option>
            <option value="Mythic Rare">Mythic Rare</option>
            </select></div></p>
        <p><div><label for="Spell Type">Spell Type</label>
            <select name="Spell Type">
            <option value="none" selected>None</option>
            <option value="creature">Creature</option>
            <option value="artifact">Artifact</option>
            <option value="enchantment">Enchantment</option>
            <option value="instant">Instant</option>
            <option value="land">Land</option>
            <option value="planeswalker">Planeswalker</option>
            </select></div></p>
       	<button type="btn btn-lg btn-primary btn-block" input type="submit">Search</button>
    </form>
 {% endblock %}
  	<script>
	</script>
  </body>
</html>