{% extends 'base.html' %}
{% block body %}
<html>
  <head>
  </head>
  <body>
  	<style>
            body {
                background-image: url("/static/img/MTG_RTR_Forest_lg.jpg");
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
            }

            div.inner.cover img {
                width: 150px;
            }
        </style>
	<form action="{{url_for("update_collection")}}" method="POST">
    	<h2 class="form-search-heading">Update Your Collection</h2>
        <input type="text" name="name" class="form-control" placeholder="card name" autofocus  value="{{item}}"/>
        <p><div><label for="Set">Set</label>
            <select name="Set">
            <option value="none" selected>None</option>
            <option value="JOU">Journey Into Nyx</option>
            <option value="M15">M15</option>
             </select></div></p>
            <div>
            <label>Add Card</label>
            <input type="radio" name="qty" value="1"></input></div>
            
            <div>
            <label>Remove Card</label>
            <input type="radio" name="qty" value="-1"></input></div>
             <a href="/update_result" </a><button type="btn btn-lg btn-primary btn-block" input type="submit">Update</button>
    </form>
 {% endblock %}
  	<script>
	</script>
  </body>
</html>